/* .container {
    margin-top: 1rem;
    border-top: 1px solid #8e8e93;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    cursor: pointer;

} */

.user-container {
    display: grid;
    grid-template-columns: 48px 1fr;
    gap: 4px;
    margin-bottom: 1rem;

}


.cmnt-container{
    background-color: #222222;
    border-radius: 20px;
    padding-left: 10px;
    padding-top: 2px;
    font-size: 14px;
}

.user-img {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    object-fit: cover;

}

.user-details {
    display: block;
    transform: translate(0, -20%);
}

.user-name {
    font-weight: bold;
}

.user-id {
    display: flex;
    transform: translate(0, -60%);
}

.post-img {
    max-height: 100px;
    max-width: 90%;
    object-fit: cover;
    border-radius: 10px;

}

.post-details {
    margin-top: -3rem;
}

.user-tag {
    color: #a0aec0;
    
}


.icons-container {
    display: flex;
    /* margin-top: -1.5rem; */
    justify-content: space-between;
    font-size: 20px;
    width: 90%;
}

.comments {
    display: flex;
    gap: 1px;
    align-items: center;
}

.icon {
    width: 28px;
    height: 20px;
    padding: 0.25rem;
}

.icon:hover {
    background-color: #181818;
    border-radius: 9999px;
    cursor: pointer;
    transition-duration: 300ms;
}

.comment-text {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.post-like {
    display: flex;
    gap: 1px;
    align-items: center;
}

.liked {
    width: 28px;
    height: 20px;
    padding: 0.25rem;
    color: #BE185D;
}

.liked:hover {
    background-color: #181818;
    border-radius: 9999px;
    cursor: pointer;
    transition-duration: 300ms;
}

.liked-color {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #BE185D;
}

@media (max-width: 640px) {
    .user-details {
        display: flex;
        gap: 1rem;
    }

    .post-details {
        margin-top: -1rem;
    }

    .user-id {
        transform: translate(0, 7%);
    }
}