.container {
    margin-top: 1rem;
    border-top: 1px solid #8e8e93;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    cursor: pointer;

}
.retweet-container{
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.6rem;
    color: #8e8e93;
}
.user-container {
    display: grid;
    grid-template-columns: 48px 1fr;
    gap: 4px;
    margin-bottom: 1rem;

}

.user-img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    object-fit: cover;

}

.user-details {
    display: block;
    transform: translate(0, -20%);
}
.name-edit{
    display: flex;
    justify-content: space-between;
}

.user-name {
    font-weight: 500;
    padding-top: 5px;
}
.edit-icon {
    width: 28px;
    height: 28px;
    
}

.edit-icon:hover {
    background-color: #181818;
    border-radius: 9999px;
    cursor: pointer;
    transition-duration: 300ms;
}

.user-id {
    display: flex;
    transform: translate(0, -60%);
}

.user-id span{
    margin-left: auto;
    transform: translate(0, -20%);
}

.post-img {
    max-height: 450px;
    max-width: 90%;
    object-fit: cover;
    border-radius: 20px;
    margin-top: 0.5rem;
}

.post-details {
    margin-top: -3.5rem;
    font-size: 17px;
}

.user-tag {
    color: #a0aec0;
}

.edit-post {
    margin-right: 1rem;
    margin-top: 1.5rem;
    font-size: x-large;
}

.edit-post:hover {
    background-color: #414040;
    border-radius: 9999px;
    cursor: pointer;
    transition-duration: 300ms;
}


.icons-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-size: 20px;
    width: 80%;
    align-content: center;
    margin-left: 3.5rem;
}

.comments {
    display: flex;
    gap: 1px;
    align-items: center;
}

.icon {
    width: 28px;
    height: 28px;
    padding: 0.25rem;
}

.icon:hover {
    background-color: #181818;
    border-radius: 9999px;
    cursor: pointer;
    transition-duration: 300ms;
}

.comment-text {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.post-like {
    display: flex;
    gap: 1px;
    align-items: center;
}

.liked {
    width: 28px;
    height: 28px;
    padding: 0.25rem;
    color: #BE185D;
}

.liked:hover {
    background-color: #181818;
    border-radius: 9999px;
    cursor: pointer;
    transition-duration: 300ms;
}

.liked-color {
    
    color: #BE185D;
}

.view-cmnts {
    color: #8e8e93;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.reply{
    margin-left: 3.3rem;
    margin-top: -10px;
}
.rep-icon{
    transform: rotate(180deg);
}
@media (max-width: 640px) {
    .user-details {
        display: flex;
        gap: 1rem;
    }

    .post-details {
        margin-top: -1rem;
    }

    .user-id {
        transform: translate(0, 7%);
    }
}